<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'">
    <title>Sticky Notes</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <div class="container">
        
    </div>

    <footer>
        <p id="dataAtual"></p>
        <img id="icondb" src="../public/img/dboff.png" alt="icone banco de dados">
    </footer>

    <!-- Processo de renderização -->
    <script src="renderer.js"></script>
</body>

</html>